.CGPAScreenHeader,.CGPAScreenSubHeader,.CGPAScreenCalculatorTitle,.CGPAScreenCalculatorCourseCode{
    -fx-font-size:30px;
    -fx-line-spacing:-5px;
    -fx-font-weight:800;
    -fx-fill:#50238A;
    -fx-font-family:'Cambria';
}
.CGPAScreenStudentName{
    -fx-font-size:12px;
 -fx-line-spacing:-5px;
 -fx-font-family:'Cambria';
 -fx-font-weight:500;
 -fx-fill:#6A6A6A;
}
.CGPAScreenSubHeader{
    -fx-font-size:18px;
    -fx-fill:#2AE052;
}
.CGPAScreenCalculatorTItleBox{
    -fx-background-color:#50238A;
}
.CGPAScreenCalculatorTitle{
    -fx-font-size:18px;
    -fx-fill:#ffffff;
}
.CGPAScreenCalculatorCourse{
    -fx-background-color:#ffffff;
    -fx-border-color:#50238A;
}
.CGPAScreenCalculatorCourseCode{
    -fx-font-size:18px;
    -fx-fill:#50238A;
}
.markInputField{
    -fx-font-size:16px;
    -fx-font-family:'Cambria';
    -fx-border-style: none;
    -fx-border-width:0;
    -fx-background-color:#E3E3E3;
    -fx-background-radius:0px;
    -fx-padding-left:20px;
}
.CgpaLabel{
        -fx-font-size:18px;
         -fx-fill:#50238A;
         -fx-font-family:'Cambria';
          -fx-font-weight:500;
}
.CgpaValuePrint{
     -fx-font-size:18px;
             -fx-fill:#50238A;
             -fx-font-family:'Cambria';
              -fx-font-weight:500;
}
.resetButton{
     -fx-background-color:#50238A;
}