.DashboardScreen{
    -fx-background-color: #F3F3FF;
}
.DashboardScreenStudentImageBackground{
    -fx-background-color: #D6D6D6;
    -fx-background-radius: 50%;
     -fx-background-color: linear-gradient(to top,hsba(266, 57%, 54%, 1),hsba(266, 59%, 83%, 1));
}
.DashboardScreenStudentName,.DashboardScreenUpcomingClassesIcon{
     -fx-font-size:12px;
     -fx-line-spacing:-5px;
     -fx-font-family:'Cambria';
     -fx-font-weight:500;
     -fx-fill:#6A6A6A;
}
.DashboardScreenUpcomingClassesIcon{
     -fx-font-size:20px;
     -fx-font-weight:700;
     -fx-fill:#FFFFFF;
}
.DashboardScreenMenu{
     -fx-background-color: #EBEBFF;
     -fx-background-radius: 0px;
}
.DashboardScreenMenuItemButton{
    -fx-background-color: #D4D4D4;
    -fx-background-radius: 50%;
    -fx-cursor:hand;
}
.DashboardScreenMenuOverlap{
-fx-background-color: #EBEBFF;
}

.DashboardScreenMenuItemActive{
    -fx-background-color: #50238A;
    -fx-background-radius: 30px;
     -fx-background-color: linear-gradient(to top,hsba(266, 57%, 52%, 1),hsba(266, 56%, 39%, 1));
}

.DashboardScreenMenuItem{
    -fx-background-color: #D4D4D4;
    -fx-background-radius: 50%;
}
.DashboardScreenUpcomingClasses,.DashboardScreenUpcomingClassesItemHeader,.DashboardScreenUpcomingClassesItemTeacher,.DashboardScreenUpcomingClassesItemTime,.DashboardScreenUpcomingClassesItemDate,
.DashboardScreenUpcomingClassesItemScheduledBy,.DashboardScreenUpcomingClassesItemTime,.DashboardScreenMenuItemTextActive,.DashboardScreenMenuItemText,.AboveAverageText,.DashboardAttendanceNumber{
    -fx-font-family:'Cambria';
}
.DashboardScreenMenuItemTextActive,.DashboardScreenMenuItemText{
      -fx-font-size:16px;
     -fx-line-spacing:-5px;
     -fx-letter-spacing:-3px;
     -fx-fill:#FFFFFF;
     -fx-font-weight:600;

}
.DashboardScreenMenuItemText{
      -fx-fill:#4B4B4B;
}
.DashboardScreenUpcomingClasses{
     -fx-font-size:24px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#50238A;
}
.DashboardAttendanceNumber{
     -fx-font-size:84px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#FFFFFF;
}
.DashboardAttendanceNumberAbove{
     -fx-fill:#6A6A6A;
}
.DashboardScreenUpcomingClassesItem,.DashboardScreenTotalClasses,.DashboardScreenTotalClassesBelowAverage,.DashboardScreenTotalClassesAboveAverage{
    -fx-background-color: #50238A;
    -fx-background-radius: 13px;
    -fx-background-color: linear-gradient(to top,hsba(266, 58%, 60%, 1),hsba(266, 57%, 52%, 1));
}
.DashboardScreenTotalClasses{
    -fx-background-color: #FCD400;
}
.DashboardScreenTotalClassesBelowAverage{
    -fx-background-color: #474646;
}
.DashboardScreenTotalClassesAboveAverage{
    -fx-background-color: #FFFFFF;
}

.DashboardScreenUpcomingClassesItemHeader,.DashboardScreenUpcomingClassesItemTeacher,.DashboardScreenUpcomingClassesItemTime,.DashboardScreenUpcomingClassesItemDate,.AboveAverageText{
     -fx-font-size:18px;
     -fx-line-spacing:-5px;
     -fx-font-weight:800;
     -fx-fill:#FFFFFF;
}
.AboveAverageText{
    -fx-fill:#7A7575;
    -fx-font-size:14px;
}
.DashboardScreenUpcomingClassesItemScheduledBy{
     -fx-font-size:14px;
     -fx-line-spacing:-5px;
     -fx-font-weight:500;
     -fx-fill:#CCCCCC;
}
.DashboardScreenUpcomingClassesItemTeacher{
    -fx-font-weight:500;
    -fx-font-size:16px;
}
.DashboardScreenUpcomingClassesItemDate{
    -fx-font-size:14px;
}
.DashboardScreenUpcomingClassesItemTime{
    -fx-font-size:24px;
}
.DashboardButton{
    -fx-background-color: #50238A;
}